@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;

}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

* html .clear_ie7 {
	clear: none !important;
}

*+html .clear_ie7 {
	clear: none !important;
}

.map_menu {
	font-size: 12px;
}

/** 头部样式  begin**/
#mapheader {
	margin-top: 0;
	position: relative;
	clear: both;
	overflow: visible;
	width: 100%;
/* 	z-index: 5; */
}

#mapsearch {
	margin: 0;
	width: 100%;
}

#mapsearch-main {
	padding-left: 28px;
	background-color: while;
	border: 1px solid #B2B2B0;
	padding: 0 0 0 44px;
}


#mapsearch-logo {
	float: left;
	margin: 16px 23px 0 0;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

#mapheader .cntrl {
	padding-bottom: 14px;
	padding-top: 12px;
	background-color: while;
	margin: 0 170px 0 0;
	min-width: 625px;
	padding-bottom: 20px;
	padding-top: 18px;
	position: relative;
	/* z-index: 4; */
}

#mapheader .cntrltable {
	padding: 8px 0 0;
}

#mapheader .q_d_container {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	height: 32px;
	/* padding-right: 5px; */
}

/**
#mapheader .q_d_skunk {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    font-size: 138%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 25px;
    line-height: normal;
    padding: 4px 0 0 6px;
    vertical-align: top;
    width: 100%;
}

**/
#mapheader .q-outer {
	height: 34px;
	z-index: 5;
}





/** 头部样式  end**/

/**地图工具条样式 begin **/
#map_container_tools {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #CAD2DD;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #DFDDDE;
	border-right: 1px solid #BBBBBB;
	box-shadow: 1px 2px 3px 0 #828E9A;
	height: 32px;
	_height: 32px;
	position: relative;
	/* z-index: 202; */
	overflow: hidden;
	font-size: 12px;
	border-top: 0;
}

.map_left_tool {
	height: 32px;
	border-color: #BBBBBB #CAD2DD #DFDDDE;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	font-size: 12px;
	position: absolute;
	top: 0px;
	width: 100%;
	color: black;
	/* z-index: 200; */
}

* html .map_left_tool {
	position: static !important;
}

*+html .map_left_tool {
	position: static !important;
}

.map_left_tool a {
	color: #4C73C2;
	cursor: pointer;
	float: left;
	font-family: arial;
	height: 22px;
	line-height: 24px;
	margin: 4px 0 0;
	overflow: hidden;
	padding: 0 6px;
	text-align: center;
	text-decoration: none;
	outline: medium none;
}

.map_left_tool a span {
	background: url("../images/icon_y_5rz3ne.png") no-repeat scroll -3px
		-24px transparent;
	padding-left: 15px;
}

.map_left_tool a:hover {
	background: none repeat scroll 0 0 #F6F6F6 !important;
	border: 1px solid #DBDBDB !important;
	border-radius: 1px 1px 1px 1px;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;;
}

#map_container_tools li {
	cursor: pointer;
	display: inline;
	float: left;
	margin-left: 8px;
}

.cursor {
	cursor: pointer;
}

.floatl {
	float: left;
}

.icon_expand {
	background: url("../images/tool_btn.png") no-repeat scroll -81px -1px
		transparent;
	float: left;
	height: 11px;
	width: 14px;
}

.mr3 {
	margin-right: 3px;
}

.floatr {
	float: right;
}

.map_tool_ul {
	margin-top: 7px;
	padding: 0;
	margin-left: 3px;
}

/**
#map_tool_ul li {
    margin-left: 0;
    margin-right: 10px;
    padding: 2px;
}
#map_tool_ul div {
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin-top: 3px;
    padding: 2px;
}
**/
.tools_div_focus {
	border: 1px solid #DEDEDE;
	color: #2472DF;
}

.mt10 {
	margin-top: 7px;
}

.mt8 {
	margin-top: 3px;
	margin-right: 3px
}

.icon_search {
	background: url("../images/tool_btn.png") no-repeat scroll -1px 0
		transparent;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_tools {
	background: url("../images/tool_btn.png") no-repeat scroll -34px -1pxz
		transparent;
	float: left;
	height: 17px;
	width: 20px;
}

.icon_fullscreen {
	background-position: -147px 0;
	float: left;
	height: 16px;
	width: 18px;
}

.icon_toolbtn {
	background: url("../images/tool_btn.png") no-repeat scroll -147px 0
		transparent;
}

.not_display {
	display: none;
}

.cautionTools li {
	margin-left: 8px;
}

.cautionTools li a span {
	color: #E94609;
	font-weight: bold;
}

.map_tool_silder {
	border-left: 1px solid #BBBBBB;
	float: left;
	height: 20px;
	margin-top: 6px;
	position: relative;
	width: 5px
}

/** 地图工具栏样式  end **/

/**中间div样式  begin**/
#pageCenter {
	position: relative;
}

#map-container {
	margin-left: 0;
}

#map-container {
	background: none repeat scroll 0 0 #E5E3DF;
	/** border: 1px solid rgba(102, 102, 102, 0.25); **/
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.expand_map {
	background: url("../images/mapview.png") no-repeat scroll -8px -10px
		transparent;
	cursor: pointer;
	height: 75px;
	position: absolute;
	top: 220px;
	width: 14px;
	z-index: 201;
}

.expand_map_arrow {
	background: url("../images/mapview.png") no-repeat scroll -35px -4px
		transparent;
}

.expand_map_arrow_hover {
	background: url("../images/mapview.png") no-repeat scroll -35px -25px
		transparent;
}

.expand_map_arrow,.expand_map_close_arrow {
	height: 15px;
	left: 2px;
	position: absolute;
	top: 28px;
	width: 8px;
}

.expand_map_close_arrow {
	background: url("../images/mapview.png") no-repeat scroll -35px -47px
		transparent;
}
/**中间div样式  end**/

/**城市列表样式 begin**/
.select_city {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #cdcdcd;
	color: #010000;
	height: 380px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 30px;
	width: 420px;
	/* z-index: 202; */
	font-size: 12px;
}

.select_city_title {
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
}

.cityView {
	border: 2px solid #FFF;
	height: 20px;
	width: 40px;
	line-height: 20px;
	padding: 5px 10px;
}

.smallclose {
	background: url("../images/way_btn.png") no-repeat scroll -62px -12px
		transparent;
	cursor: pointer;
	float: right;
	height: 10px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 10px;
	z-index: 100;
}

.select_city_hot {
	border-top: 1px solid #DFDDDE;
	padding: 10px 0;
}

.select_city_hot a,.select_city_content a {
	color: #36C;
	text-decoration: none;
}

.select_city_hot a:hover,.select_city_content a:hover {
	color: #5F3397;
	text-decoration: underline;
}

#hotCity {
	padding: 0 5px;
	white-space: nowrap;
}

#hotCity div {
	display: inline;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-left: 10px;
}

.search_city {
	margin: 10px;
}

.txt220 {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #C5C5C5;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	height: 22px;
	line-height: 22px;
	padding: 3px 5px;
	width: 220px;
}

.search_button,.search_button_small {
	background: linear-gradient(to bottom, #FFFFFF, #F1F1F1) repeat scroll 0
		0 transparent;
	border: 1px solid #C6C6C6;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 26px;
	text-align: center;
	width: 80px;
}

.select_city_content {
	border-top: 1px solid #DFDDDE;
	padding: 10px;
}

.mt6 {
	margin-top: 6px;
}

.lh16 {
	height: 16px;
	line-height: 16px;
}

.select_city_list {
	height: 310px;
	margin-top: 10px;
	overflow-y: auto;
	width: 400px;
}

*+html .select_city_list {
	overflow-x: hidden !important;
}

#cityCollection {
	margin-right: 8px;
	width: 380px;
}

.scrollbar,.cityscrollbar {
	border-left: 2px solid #E4E4E4;
	float: left;
	height: 170px;
	margin: 6px 0 2px 5px;
	position: relative;
	width: 2px;
}

.scroll_icon {
	background: url("../images/way_btn.png") no-repeat scroll -111px -5px
		transparent;
	cursor: default;
	height: 27px;
	left: -6px;
	position: absolute;
	top: 0;
	width: 10px;
}

.select_city_listitem {
	float: left;
	margin-bottom: 10px;
	width: 380px;
}

.select_city_province {
	height: 20px;
	line-height: 20px;
	width: 12%;
}

.select_city_citys {
	float: left;
	white-space: nowrap;
	width: 88%;
}

.select_city_province a {
	font-weight: bold;
}

.select_city_citys div {
	float: left;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
}

/**城市列表样式 end**/

/** 左侧div样式  begin**/
.panel-west {
	border-right: 1px solid #B2B2B0;
 	position: absolute;
	/* z-index: 201; */
}

/** 左侧div样式 end**/

/**搜索框下拉列表样式  begin**/
.sug {
	-moz-user-select: none;
	border: 1px solid #CCCCCC;
	position: absolute;
	background-color: #FFFFFF;
}

.sug table tr td {
	height: 25px;
	font: 14px/25px arial;
	cursor: pointer;
	width: 100%;
}

.cityTr {
	background-color: #FFFFFF;
	color: #000000;
}

.over {
	background: #bcd4ec;
}

.cityTr td {
	width: 100%;
}

.sugul {
	line-height: 25px;
	cursor: pointer;
	list-style-type: none;
	font: 14px/25px arial;
	margin: 0;
	padding: 0;
}

.sugul li {
	height: 25px;
	cursor: pointer;
	list-style-type: none;
	font: 14px/25px arial;
	padding-left: 6px;
}

.sug span {
	font-size: 13px;
	color: #C0C0C0;
}

.sugSpan {
	
}

.sug a {
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

.cityListDivClose {
	float: right;
	font: 12px arial;
	color: rgb(136, 136, 136);
	padding-right: 5px;
}

* html .cityListDivClose {
	margin-top: -15px !important;
}

*+html .cityListDivClose {
	margin-top: -15px !important;
}

.sugNoneSpan {
	display: none;
}

.ui-autocomplete-loading {
	background: url("../../../images/framework/ajax-loader4.gif") no-repeat
		scroll right center white;
}

.limove {
	cursor: pointer;
	list-style-type: none;
	background-color: #ffffff;
}

.lihover {
	cursor: pointer;
	list-style-type: none;
	background-color: #DBDBDB;
}
/**搜索框下拉列表样式   end**/

/**信息窗体样式 begin**/
.tipWindow {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	cursor: default;
	left: -2426px;
	top: 8122px;
	width: 300px;
	font: 12px arial, 宋体, sans-serif;
}

.tipTitle {
	color: #4C4C4C;
	background-color: #FFFFFF;
}

.tipTitle p {
	color: #4D4D4D;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-left: 11px;
	white-space: nowrap;
	width: 245px;
	margin: 0px;
}

.tipTitleClose {
	background-color: #F9F9F9;
	float: right;
	height: 30px;
	position: absolute;
	right: 0;
	top: 2px;
}

.tipTitleCloseImg {
	-moz-user-select: none;
	cursor: pointer;
	height: 10px;
	position: absolute;
	right: 12px;
	top: 9px;
	width: 10px;
	z-index: 10000;
}

.tipContent {
	height: 150px;
	position: relative;
	z-index: 3;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 5px 11px 10px;
}

.tipContent_child {
	margin-bottom: 3px;
}

.tipContent_child_resp {
	margin-top: 5px;
}

.tipContent_child_resp_a {
	cursor: pointer;
	border: solid 1px #CCC;
	padding: 3px;
	text-decoration: none;
	color: #36C;
	font-size: 12px;
}

.tipWindowImg {
	bottom: -30px;
	height: 31px;
	left: 144px;
	top: 198px;
	width: 58px;
	position: absolute;
	z-index: 1;
}
/**信息窗体样式 end**/

/* 左侧列表首页样式  Start */
div.west-panel-children-class {
	width: 100%;
	height: 100%;  
	margin-top: 32px;
}

* html div.west-panel-children-class {
	margin-top: 0px !important;
}

*+html div.west-panel-children-class {
	margin-top: 0px !important;
}

div.left_main {
	margin: 10px;
	padding-bottom: 10px;
	float: left;
	border-bottom: 1px dashed #CCC;
}

div.left_main_children {
	width: 35px;
	height: 55px;
	margin: 10px;
	float: left;
	cursor: pointer;
}

div.left_main_children_icon_1 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat 2px 0px;
}

div.left_main_children_icon_2 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -32px 0px;
}

div.left_main_children_icon_3 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -66px 0px;
}

div.left_main_children_icon_4 {
	height: 30px;
	width: 40px;
	background: url('../images/home-icon.png') no-repeat -102px 0px;
}

div.left_main_children_icon_5 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -143px 0px;
}

div.left_main_children_icon_6 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -180px 0px;
}

div.left_main_children_icon_7 {
	height: 30px;
	width: 30px;
	background: url('../images/home-icon.png') no-repeat -215px 0px;
	margin-left: 5px;
}

div.left_main_children_icon_8 {
	height: 30px;
	width: 33px;
	background: url('../images/home-icon.png') no-repeat -240px 0px;
	margin-left: 2px;
}

div.left_main_children_icon_9 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -270px 0px;
}

div.left_main_children_icon_10 {
	height: 30px;
	width: 35px;
	background: url('../images/home-icon.png') no-repeat -304px 0px;
	margin-left: 5px;
}

div.left_main_children_font {
	font-size: 12px;
	color: #666;
	padding-top: 10px;
	text-align: center;
}

/* 左侧列表首页样式  End */

/* 工具样式 START */
#maptoolsBox {
	width: 60px;
	top: 117px;
	float: right;
	position: absolute;
	right: 3px;
	text-align: center;
	background-color: #ffffff;
	display: none;
	z-index: 9999;
}

#maptoolsUL {
	list-style: none;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	border: #CCC 1px solid;
}

#maptoolsUL li {
	cursor: pointer;
	border-bottom: 1px #CCC solid;
	color: #2472DF;
}
.ArrowMain {
	position: relative;
	left: 75px;
	top: 70px;
	background: transparent;
}

.ArrowTop {
	background: transparent;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 6px;
	left: 22px;
	cursor: pointer;
	background: url(/gisow/images/stdmap_ctrl.png) no-repeat scroll -20px
		-5px transparent;
}

.ArrowRight {
	background: transparent;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 20px;
	left: 39px;
	cursor: pointer;
	background: url(/gisow/images/stdmap_ctrl.png) no-repeat scroll -36px
		-22px transparent;
}

.ArrowBottom {
	background: transparent;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 36px;
	left: 22px;
	cursor: pointer;
	background: url(/gisow/images/stdmap_ctrl.png) no-repeat scroll -20px
		-38px transparent;
}

.ArrowLeft {
	background: transparent;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 21px;
	left: 5px;
	cursor: pointer;
	background: url(/gisow/images/stdmap_ctrl.png) no-repeat scroll -3px
		-22px transparent;
}

.ArrowCenter {
	background: transparent;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 19px;
	left: 21px;
	background: url(/gisow/images/stdmap_ctrl.png) no-repeat scroll -172px
		-6px transparent;
	cursor: pointer;
}

.infoWindow {
	position: absolute;
	z-index: 150;
	visibility: visible;
	height: 89px;
	width: 300px;
	/**
	left: 44px;
	top: -32px;
	*/
}

.infoWindow_title {
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: -15px;
	border-bottom: 1px #CCC dashed;
}

* html .infoWindow_title {
	margin-top: 0px !important;
}

*+html .infoWindow_title {
	margin-top: 0px !important;
}

.leftHelpMsg {
	padding-left: 0xp;
	padding: 0px;
	padding-left: 20px;
	line-height: 20px;
}

* html .leftHelpMsg {
	display: inline-block !important;
	margin: 0px !important;
}

*+html .leftHelpMsg {
	display: inline-block !important;
	margin: 0px !important;
}

.winDrag {
	position: absolute;
	height: 444px;
	width: 750px;
	display: none;
	opacity: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.hotSelector{
	width:319px;
	border-bottom: 1px solid #b2b2b0;
	height:90px;
	background-color:#F8F9FD;
	z-index :9999;
	float:left;
}
 
.stationsearch{
	text-align: center;
}

.stationsearch a{
	text-align: center;
}

.stationsearchimg{
}
 
  
.leftStationUl{
	margin:0px;
	padding:0px;
	list-style: outside none none;
	float: left;
	
}
 
.leftStationUl li{
	margin:0px;
	padding:0px;
	float: left;
	color: #666666;
}
 
.leftStationUl li a{
	margin-left:8px;
	float: left;
	color: #666666; 
}
.leftStationUl li a dl{
	margin-left:8px;
	margin-top:8px;
	float: left;
	 
}
.leftStationUl li a dl dt b{
	margin-left:8px;
	margin-top:8px;
	float: left;
	font-size:14px;
     
}
.leftStationUl li a dl dd{
	margin-left:8px;
	margin-top:8px;
	float: left;
	 
}
